<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="5"
	android:versionName="2.1"
	package="com.tarlic.TeamGen">

	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
	
		<!--
			For each Activity launched in the app, it is necessary <activity> ... </activity>
		-->

		<activity android:name=".TeamGen" android:label="@string/app_name">
		
				<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		
		</activity>
		
		<activity android:name=".Teams" android:label="@string/activity_teams"></activity>

	</application>

        
</manifest> 


